@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --color-oceanic-blue: #0063f5;
  --color-midnight-gray: #212529;
  --color-charcoal-stone: #343a40;
  --color-slate-mist: #6c757d;
  --color-cloud-white: #f8f9fa;
  --color-amber-flare: #ff6d00;
  --color-emerald-leaf: #21bf73;
  --color-crimson-fire: #d90429;
  --color-silver-fog: #dfe2e4;
  --color-sky-mist: #ecf4ff;
  --color-blush-petal: #ffebee;
  --color-mint-frost: #dcf9eb;
  --color-royal-azure: #005be3;
  --color-indigo-wave: #203ed6;
}

.page {
  @apply lg:w-[80%] w-full lg:px-6 px-4 py-6;
}
